header, footer {
  background-color: #7cdeff;
  padding: 10px;
}

main {
  padding: 10px;
  background-color: silver;
}

.post {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
}

.post img {
  margin: 20px;
}

.footer-columns {
  display: flex;
}

.footer-column {
  flex: 50%;
  margin: 20px;
}

.post-info {
	color: grey;
}

.comment {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	margin-top: 10px;
}

.author {
	margin-top: 0px;
	margin-bottom: 10px;
}

.date {
	color: silver;
	margin-top: 0px;
	margin-bottom: 10px;
}

.leftimg {
  float:left; 
  margin: 7px 7px 7px 0; 
  }

#menu{
  position: relative; 
  display: block;
  width: 100%;
  height: auto;
  z-index: 10;
}

#menu ul {
  position: relative;
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  list-style: none;
}

#menu > ul::after{
  display: block;
  width: 100%;
  height: 0px;
  clear: both;
  content: " ";
}

#menu ul li{
  position: relative;
  display: block;
  float: left;
  width: auto;
  height: auto;
}

#menu ul li a{
  display: block;
  padding: 9px 25px 0px 25px;
  font-size: 14px;
  line-height: 1.3em;
  text-decoration: none;
  font-weight: bold;
  height: 36px;
  box-sizing: border-box;
  color: white;
}

#menu ul li ul{
  position: absolute;
  top: 36px;
  left: 0px;
  display: none;
  width: 200px;
  height: 130px;
  background: #7cdeff;
}

#menu ul li:hover ul{
  display: block;
}

#menu ul li ul li ul{
  position: absolute;
  top: 36px;
  left: 200px;
  display: none;
  width: 200px;
  height: 200px;
  background: #1f586c;
}

#menu ul li ul li:hover ul{
  display: block;
}